:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gold: #bdae82;
  --color-mattle-black: #1c1c1c;
  --bg-color-transparent-white: rgba(255, 255, 255, 0.5);
  --box-shadow-black: rgba(255, 255, 255, 0);
  --font1: 20px;
  --font2: 40px;
  --font3: 60px;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-white);
  font-family: "Inter";
  font-size: var(--font1);
  background-color: var(--color-black);
}

html,
body {
  overflow-x: hidden;
}

/* theme */
.light-theme {
  background-color: var(--color-white);
  color: var(--color-mattle-black);
}
.light-theme:hover {
  color: var(--color-mattle-black);
}
.theme-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: 0.3s ease-in-out;
  margin-left: 35px;
  width: 45px;
  height: 45px;
}
.hero.light-theme,
.header .container.light-theme {
  background-image: url("./assets/img/bg-light.jpg");
}
.contacts.light-theme {
  background-image: url("./assets/img/contacts-bg-light.jpg");
}
.hero.light-theme .btn-primary,
.contacts.light-theme .btn-primary {
  background-color: var(--color-white);
  border-color: var(--color-white);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}
.hero.light-theme .btn-primary:hover,
.contacts.light-theme .btn-primary:hover {
  background-color: var(--color-mattle-black);
  border-color: var(--color-mattle-black);
  transform: translate(4px, 4px);
  box-shadow: none;
}
.section-title.light-theme span.section-title-text {
  background-color: var(--color-white);
  color: var(--color-mattle-black);
}
h2#skills.section-title.light-theme::before,
h2#portfolio.section-title.light-theme::before,
h2#price.section-title.light-theme::before,
h2#video.section-title.light-theme::before {
  background-color: var(--color-mattle-black);
}
h2#contacts.section-title.light-theme {
  background-color: transparent;
  color: var(--color-mattle-black);
}
.nav-link.light-theme:hover {
  color: var(--color-white);
  filter: none;
}
.footer-link.light-theme img {
  transition: 0.3s ease-in-out;
}
.footer-link.light-theme:hover {
  color: var(--color-gold);
  filter: none;
}
.theme-btn:hover,
.theme-btn.light-theme:hover,
.hamburger.light-theme:hover,
.footer-link.light-theme img:hover,
.header .container.light-theme .logo:hover {
  filter: invert(0.5) sepia(1);
}
.nav-list.light-theme,
.nav-link.light-theme,
.lng.light-theme {
  color: var(--color-mattle-black);
  background-color: transparent;
}
.lng.light-theme:hover,
.lng.light-theme.active {
  color: var(--color-white);
}
.portfolio-btns.light-theme .portfolio-btn {
  background-color: var(--color-gold);
  color: var(--color-mattle-black);
}
.portfolio-btns.light-theme .portfolio-btn.active {
  background-color: var(--color-mattle-black);
  color: var(--color-white);
  animation: pulse2 1s;
}
.portfolio-btns.light-theme .portfolio-btn:hover {
  color: var(--color-white);
}
.contacts.light-theme .controls .control-field {
  color: var(--color-mattle-black);
  border-color: var(--color-mattle-black);
  background-color: var(--bg-color-transparent-white);
}
.contacts.light-theme .controls .control-field::placeholder {
  color: var(--color-mattle-black);
}

/* common */
a {
  text-decoration: none;
  color: var(--color-white);
  transition: 0.3s ease-in-out;
}
ul {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero,
.skills,
.portfolio,
.video,
.price {
  margin-bottom: 100px;
}

/* skills-list, portfolio-list, price-list */
.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

/* hamburger */
.hamburger {
  display: none;
  transition: 0.3s ease-in-out;
}
.hamburger .line {
  width: 50px;
  height: 3px;
  background-color: var(--color-white);
  display: block;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
}
#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
#hamburger.is-active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

/* button */
.btn {
  width: 220px;
  line-height: 40px;
  padding: 6px 10px 5px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  border: 2px solid var(--color-gold);
  transition: 0.3s ease-in-out;
}
.btn:focus {
  box-shadow: 0 0 0 2em var(--box-shadow-black);
  animation: pulse 1s;
}
.btn-outline {
  background-color: transparent;
  color: var(--color-gold);
}
.btn-outline.active {
  background-color: var(--color-gold);
  color: var(--color-black);
}
.btn-outline:hover {
  color: var(--color-black);
  background-color: var(--color-gold);
}
.btn-primary {
  background-color: var(--color-gold);
}
.btn-outline.active:hover,
.btn-primary:hover {
  color: var(--color-white);
}

/* header */
.header .container {
  display: flex;
  align-items: center;
  height: 90px;
  background: url("./assets/img/bg.jpg");
  background-position: center 0;
}
.logo {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-right: auto;
}

.nav-link:hover,
.footer-link:hover,
.logo:hover,
.play-btn:hover,
.hamburger:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

/* header nav */
.nav-list {
  display: flex;
}
.nav-list li {
  padding-right: 30px;
}
/* language */
.switch-lng {
  font-weight: bold;
}
.switch-lng .slash {
  padding: 0 5px;
}
.switch-lng .active {
  background-color: transparent;
  color: var(--color-gold);
}
.switch-lng .active:hover {
  color: var(--color-white);
}
.slash {
  user-select: none;
}
.lng {
  transition: all 0.3s;
  cursor: pointer;
}
.lng:hover {
  color: var(--color-gold);
}

/* hero */
.hero {
  height: 820px;
  padding: 160px 80px 60px 80px;
  background-image: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center -90px;
}
.hero h1 {
  font-family: "Merriweather";
  font-size: var(--font3);
  /* color: var(--color-white); */
  margin-bottom: 10px;
  line-height: 120px;
}
.hero p {
  width: 470px;
  line-height: 40px;
  margin-bottom: 25px;
}

/* section-title  */
.section-title {
  font-family: "Merriweather";
  font-size: var(--font2);
  color: var(--color-gold);
}
.section-title {
  position: relative;
  z-index: 1;
  width: 50%;
  text-align: center;
  margin: 0 auto 60px auto;
  line-height: 80px;
}
.section-title:not(#contacts)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 49%;
  left: 0;
  background-color: var(--color-gold);
}
.section-title .section-title-text {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background-color: var(--color-black);
}

/* skills */
.skills-list {
  padding: 0 20px;
  justify-content: space-between;
}
.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-bottom: 9px;
}
.skills-item h3 {
  font-size: var(--font1);
  margin-top: 58px;
  margin-bottom: 29px;
}
.skills-item p {
  font-size: 0.9em;
  text-align: center;
  line-height: 36px;
}
.img-camera,
.img-video,
.img-retouch,
.img-audio {
  height: 50px;
}
.img-camera {
  width: 62px;
}
.img-video {
  width: 60px;
}
.img-retouch {
  width: 66px;
}
.img-audio {
  width: 32px;
}

/* portfolio */
.portfolio {
  display: flex;
  flex-direction: column;
}
.portfolio-list li {
  position: relative;
  cursor: pointer;
  width: 450px;
  height: 560px;
  transition: 0.3s ease-in-out;
}
.portfolio-list li:hover {
  z-index: 1;
  transform: scale(1.2, 1.2);
}
.portfolio-btns {
  text-align: center;
  margin-bottom: 60px;
}

/* video */
.video-player,
.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-player {
  position: relative;
}
.play-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.play-btn:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* price */
.price-list {
  text-align: center;
}
.price-item {
  width: 450px;
  padding: 43px 43px 40px;
  border: 3px solid var(--color-gold);
  transition: 0.3s ease-in-out;
}
.price-item:hover {
  transform: scale(1.1, 1.1);
}
.price-item h3,
.price-item-value {
  font-family: "Merriweather";
}
.price-item h3 {
  font-size: 28px;
  line-height: 50px;
  margin-bottom: 20px;
}
.price-item-value {
  font-size: 24px;
  line-height: 55px;
  color: var(--color-gold);
}
.price-item-info {
  margin: 17px 0 39px;
}
.price-item-info p {
  font-size: 0.9em;
  line-height: 36px;
}

/* contacts */
.contacts {
  display: flex;
  justify-content: flex-end;
  height: 700px;
  background-image: url("./assets/img/contacts-bg.jpg");
  background-repeat: no-repeat;
}
.contacts-container {
  padding-top: 60px;
  width: 450px;
}
.contacts-container .section-title {
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
}
.contacts textarea {
  height: 100px;
}
.controls {
  margin-bottom: 5px;
}
.control-field {
  font-family: inherit;
  font-size: var(--font1);
  color: var(--color-gold);
  width: 100%;
  background-color: transparent;
  padding: 11px 18px;
  margin-bottom: 20px;
  border: 2px solid var(--color-gold);
}
.control-field::placeholder {
  font-family: inherit;
  color: var(--color-gold);
}
.control-field:focus {
  background-color: var(--bg-color-transparent-white);
}
.control-field:focus {
  outline: none;
}
.controls textarea {
  resize: none;
}

/* footer */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  /* background-color: var(--color-black); */
  padding: 50px 20px;
}
.footer-data {
  margin-right: 24px;
}
.footer-data span {
  padding-right: 15px;
}
.footer-link {
  transition: 0.3s ease-in-out;
}
.social-list {
  display: flex;
}
.social-list li {
  padding-left: 20px;
}

@media (max-width: 768px) {
  /* theme */
  .nav-list.light-theme {
    background-color: var(--color-white);
  }
  .nav-link.light-theme:hover {
    color: var(--color-gold);
  }
  .hamburger.light-theme {
    background-color: transparent;
  }
  .hamburger.light-theme .line {
    background-color: var(--color-black);
  }

  /* skills-list, portfolio-list, price-list */
  .items {
    justify-content: space-around;
    gap: 0;
  }

  /* hamburger */
  .hamburger {
    display: block;
    margin-right: 44px;
    margin-left: 20px;
    z-index: 99;
    order: 1;
  }

  /* header */
  .header .container {
    position: relative;
    background-position: -5px -30px;
    background-size: auto 620px;
  }
  .header .logo {
    margin-left: 40px;
  }
  .nav-list {
    width: 620px;
    position: absolute;
    z-index: 99;
    flex-direction: column;
    top: 0;
    padding: 134px 127px 100% 127px;
    right: -620px;
    transition: 0.5s ease-in-out;
    background-color: var(--color-black);
  }
  .nav-list.open {
    right: 0;
  }
  .nav-item {
    height: 73px;
    font-size: 35px;
  }

  /* hero */
  .hero {
    margin-bottom: 0;
  }
  .hero {
    height: 590px;
    background-position: -5px -120px;
    background-size: auto 620px;
    padding: 79px 60px 0;
    margin-bottom: 0;
  }
  .hero h1 {
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }
  .hero p {
    width: 420px;
    line-height: 24px;
    margin: 19px 0 60px;
  }

  /* section-title */
  .section-title {
    line-height: 40px;
    margin-top: 9px;
    font-size: 32px;
  }

  /* skills */
  .skills-item {
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 70px;
    width: 290px;
  }
  .skills-item h3 {
    margin-top: 38px;
    margin-bottom: 29px;
  }
  .skills-item p {
    line-height: 22px;
  }
  .portfolio-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 10px;
    gap: 6px;
  }

  /* portfolio */
  .portfolio-list li:not(:last-child) {
    margin-bottom: 25px;
  }

  /* video */
  .video-player-bg {
    height: 418px;
    margin-top: 10px;
    margin-left: 46px;
  }
  .play-btn img {
    width: 65px;
    height: 65px;
  }

  /* price */
  .price {
    margin-bottom: 20px;
  }
  .price-list {
    justify-content: center;
    padding: 10px 0;
    gap: 0;
  }
  .price-item {
    width: 420px;
    margin-bottom: 50px;
  }

  /* contacts */
  .contacts {
    justify-content: center;
    height: 600px;
    width: 768px;
  }
  .contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contacts.section-title {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 52px;
  }

  /* footer */
  .footer .container {
    flex-direction: column;
    height: 190px;
    padding: 28px 0;
  }
  .footer-data {
    margin-right: 0;
    width: 210px;
    display: flex;
    justify-content: space-evenly;
  }
  .footer-data span {
    padding-right: 0;
  }
  .rsschool-link {
    padding-bottom: 13px;
  }
  .social-list {
    width: 210px;
    padding-bottom: 4px;
    justify-content: space-around;
  }
  .social-list li {
    padding-left: 0;
  }
}

@media (max-width: 620px) {
  .nav-list {
    width: 100%;
    padding-top: 137px;
    align-items: center;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-gold);
  }
}
@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 var(--color-mattle-black);
  }
}
